{% extends 'base.html.twig' %}

{% block title %}Edit Tie{% endblock %}

{% block body %}
    <h1>Edit Tie</h1>

    {{ include('tie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tie_index') }}">back to list</a>

    {{ include('tie/_delete_form.html.twig') }}
{% endblock %}
